/* This is the main styling for the index page */

#Title {
	font-family: Baskerville Old Face;
	-webkit-animation: titleAnim 10s infinite;
}
.Title{
	text-align: center;
	font-size: 600%;
}
@-webkit-keyframes titleAnim {
	50% {font: 20px bold;}
}