/* This is the main styling for the index page */

.Title {
	margin: center;
	font-size: 600%;
	font-family: Baskerville Old Face;
	-webkit-animation: titleAnim 10s infinite;
}
@-webkit-keyframes titleAnim {
	50% {font: 20px;}
}