/* This is the main styling for the index page */

#Title {
	border: 3px solid black;
	width: 800 px;
	height: 750 px;
	font-family: Baskerville Old Face;
	text-align: center;
	font-size: 300%;
}

#Introduction{
	font-family: Franklin Gothic;
	text-align: center;
	size: 18 px;
}